VMS_PROFILE=compose|desktop|k8s
VMS_STORAGE=s3|minio|fs
VMS_LEASE=k8s|pg|file
GHCR_USER=user_name
GHCR_TOKEN=pat
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
S3_REGION=us-east-1
S3_BUCKET=vms